/* .containerHome {
  height: 100vh;
} */

.navbar {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  position: fixed;
  z-index: 20;
  top: 0;
  width: 100%;
  padding: 10px 10px 0px 10px;
}

.itembox {
  padding: 16px;
  margin-top: 95px;
}

.item {
  background: #d2d2d0;
  border: 1px solid #ffe087;
  box-sizing: border-box;
  border-radius: 12px;
  /* justify-content: center; */
  align-items: center;
}

.itemText {
  font-weight: 700;
  font-size: 15px;
}

/* .itemboxFridge {
  padding: 16px;
  margin-top: 85px;
} */

.itemFridge {
  background: #fffefe;
  border: 3px solid #fccf50;
  box-sizing: border-box;
  border-radius: 12px;
  /* justify-content: center; */
  align-items: center;
}
a {
  color: black;
}

a:hover {
  color: black;
}
/* @media only screen and (max-width: 320px) {
} */
